---
import { Image } from "astro:assets";

interface Props {
  motorName: string;
  description: string;
  optionalDescription?: string;
  image: string;
  specs: string[];
  isReverse?: boolean;
}

const { motorName, description, optionalDescription, image, specs, isReverse } =
  Astro.props;
---

<div
  class={`flex flex-col ${isReverse ? "md:flex-row-reverse" : ""} md:flex-row`}
>
  <!--default left side (text)-->
  <div
    class={`w-full md:w-1/2 flex flex-col justify-center p-5 md:pl-10 ${isReverse ? "" : "lg:pl-24"}`}
  >
    <h3 class="text-4xl font-normal mb-8 text-primary">{motorName}</h3>
    <p class="text-sm font-bold mb-2">{optionalDescription}</p>
    <p class="text-lg max-w-lg text-pretty mb-8 text-textSecondary">
      {description}
    </p>
    <!-- specs container -->
    <div class="w-full flex flex-col gap-y-4">
      {
        specs.map((spec) => (
          <div class="flex items-center gap-x-3">
            <img class="w-6 h-6" src="/CheckIcon.svg" alt="icono check verde" />
            <span class="text-textSecondary">{spec}</span>
          </div>
        ))
      }
    </div>
  </div>

  <!--default right side (motor)-->
  <div class="w-full flex items-center md:w-1/2">
    <Image
      height={500}
      width={600}
      class="w-full max-h-[400px] p-5 drop-shadow-2xl"
      src={`/${image}`}
      alt="motor de automovil"
    />
  </div>
</div>
